extends layout

block content
  div(class='strapline-heading')
    h1= 'WIN AT SLEEPING'
    p Everyone can improve their sleeping performance. All it takes is a little preparation and the right kit. Which is where we come in.

block scripts
  script.
    (type="text/javascript", src='/public/javascripts/script.js')
