body {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2, p, .cta-module {
  text-align: center;
  margin: 30px 0 30px;
}

h2 {
  color: #046AED;
}

a.productgrid {
  text-decoration: none;
  color: #000000;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image, .coach-image {
  max-width: 100%;
}

.imagegrid-cell, .productgrid-cell {
  margin: 1rem;
}

.coach-tip-image {
  position: absolute;
  left: 0px;
  width: 45%;
  padding: 10px;
}

.cell img {
  display: block;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.text {
  position: absolute;
  right: 0px;
  width: 45%;
  padding: 10px;
}

@media screen and (min-width: 800px) {
  .youtube-module, .imagegrid-module, .productgrid-module, .sleep-tips-module {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .imagegrid-cell {
    width: calc((100% / 3) - 2rem);
  }
  .productgrid-cell {
    width: calc((100% / 4) - 2rem);
  }
}
